<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PUBLISHER PROFILE</title>
</head>
<body>
   <h6>
        <a href="{% url 'catalog:index' %}" >HOME PAGE</a>
        <a href="{% url 'catalog:authors' %}" >AUTHORS</a>
        <a href="{% url 'catalog:books' %}" >BOOKS</a>
        <a href="{% url 'catalog:publishers' %}" >PUBLISHERS</a>
        <a href="{% url 'catalog:stores' %}" >STORES</a>
   </h6>
   <hr>
    <strong>  PUBLISHER PROFILE</strong>
    <hr>
    {% for list in data %}
        <h3>{{list.name}} </h3>
    {% endfor %}
    <hr>
    <strong> BOOK LIST </strong>
    <hr>
    {{ book_name }}
</body>
</html>